openapi: 3.1.0
info:
  title: CondominioOS API
  version: 0.1.0
  description: >
    Curated source-of-truth API spec. The live spec is generated by FastAPI at /openapi.json.
    All endpoints are versioned, tenant-scoped, authenticated (OIDC bearer / service mTLS),
    and rate-limited. See docs/15.
servers:
  - url: https://api.condominioos.eu/v1
    description: Production (EU)
  - url: http://localhost:8080/v1
    description: Local dev
security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Problem:
      type: object
      properties:
        type: { type: string }
        title: { type: string }
        status: { type: integer }
        detail: { type: string }
    InboundMessage:
      type: object
      required: [tenant_id, text]
      properties:
        tenant_id: { type: string, format: uuid }
        channel: { type: string, enum: [whatsapp, email, pec, web] }
        party_ref: { type: string }
        unit_id: { type: string, format: uuid }
        resident_id: { type: string, format: uuid }
        text: { type: string }
    ReviewItem:
      type: object
      properties:
        id: { type: string, format: uuid }
        kind: { type: string }
        priority: { type: string }
        status: { type: string }
        payload: { type: object }
paths:
  /health:
    get:
      summary: Health check
      security: []
      responses:
        "200": { description: OK }
  /webhooks/{channel}:
    post:
      summary: Inbound message intake (normalized + run through the agent runtime + firewall)
      parameters:
        - in: path
          name: channel
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/InboundMessage" }
      responses:
        "200": { description: Processed }
  /reviews:
    get:
      summary: List pending human-review items (firewall HOLDs + escalations)
      parameters:
        - in: query
          name: tenant_id
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Review items
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items: { $ref: "#/components/schemas/ReviewItem" }
  /reviews/{item_id}/approve:
    post:
      summary: Approve a held artifact (re-validated by the firewall before sending)
      parameters:
        - in: path
          name: item_id
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [reviewer]
              properties:
                reviewer: { type: string }
                edited_text: { type: string }
                note: { type: string }
      responses:
        "200": { description: Decision recorded }
  /audit/verify:
    get:
      summary: Verify the hash-chained audit log integrity
      responses:
        "200": { description: Integrity result }
  /tenants/{id}/kill-switch:
    post:
      summary: Emergency stop for a tenant's agent autonomy (Ops)
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      responses:
        "202": { description: Kill-switch engaged }
